Source: ngircd
Section: net
Priority: optional
Maintainer: Alexander Barton <alex@barton.de>
Rules-Requires-Root: binary-targets
Build-Depends: debhelper-compat (= 13),
 expect,
 libident-dev,
 libpam0g-dev,
 libssl-dev,
 libz-dev,
 openssl,
 procps,
 telnet | telnet-ssl,
Standards-Version: 4.6.2
Homepage: https://ngircd.barton.de
Vcs-Browser: https://github.com/ngircd/ngircd
Vcs-Git: https://github.com/ngircd/ngircd.git

Package: ngircd
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Conflicts:
 ircd,
Provides:
 ircd,
Description: lightweight Internet Relay Chat (IRC) server
 ngIRCd is a free, portable and lightweight Internet Relay Chat (IRC) server
 for small or private networks, developed under the terms of the GNU General
 Public License (GPL).
 .
 The server is quite easy to configure and runs as a single-node server or can
 be part of a network of ngIRCd servers in a LAN or across the internet. It
 optionally supports the IPv6 protocol, SSL/TLS-protected client-server and
 server-server links, the Pluggable Authentication Modules (PAM) system for
 user authentication, IDENT requests, and character set conversion for legacy
 clients.
 .
 The name ngIRCd stands for next-generation IRC daemon, which is a little bit
 exaggerated: lightweight Internet Relay Chat server most probably would have
 been a better name :-)
 .
 This package is built with support for all optional features and uses the
 OpenSSL library for SSL/TLS support.
