Source: ngircd
Section: net
Priority: optional
Maintainer: Alexander Barton <alex@barton.de>
Build-Depends: debhelper (>> 4.0.0), libz-dev, libwrap0-dev, libident-dev, libgnutls-dev
Standards-Version: 3.8.0

Package: ngircd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: ircd
Description: A lightweight daemon for the Internet Relay Chat (IRC)
 ngIRCd is a free open source daemon for the Internet Relay Chat (IRC)
 network. It is written from scratch and is not based upon the original
 IRCd like many others.
 .
 This package contains the "standard distribution", including support for
 syslog logging and compressed server-links using zlib. Please have a look
 at the "ngircd-full" package if you need advanced functionality like support
 for IPv6 or SSL.
 .
 Advantages of ngIRCd:
  - no problems with servers using changing/non-static IP addresses.
  - small and lean configuration file.
  - free, modern and open source C code.
  - still under active development.
 .
 ngIRCd is compatible to the "original" ircd 2.10.3p3, so you can run
 mixed networks.

Package: ngircd-full
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: ircd
Conflicts: ngircd
Description: A lightweight daemon for the Internet Relay Chat (IRC)
 ngIRCd is a free open source daemon for the Internet Relay Chat (IRC)
 network. It is written from scratch and is not based upon the original
 IRCd like many others.
 .
 In addition to the features of the "standard package", this package
 includes support for TCP wrappers, IDENT requests, the IPv6 protocol and
 SSL encrypted client and server links.
 .
 Advantages of ngIRCd:
  - no problems with servers using changing/non-static IP addresses.
  - small and lean configuration file.
  - free, modern and open source C code.
  - still under active development.
 .
 ngIRCd is compatible to the "original" ircd 2.10.3p3, so you can run
 mixed networks.
