[Unit]
Description=Next Generation IRC Daemon (Socket)
Documentation=man:ngircd(8) man:ngircd.conf(5)

[Socket]
BindIPv6Only=ipv6-only
ListenStream=0.0.0.0:6667
#ListenStream=[::]:6667
IPTOS=low-delay

[Install]
WantedBy=sockets.target
