tags
.*.swp
.deps
.trunk
.vscode
*.a
*.e_
*.exe
*.log
*.o
*~
Makefile
Makefile.in
aclocal.m4
ansi2knr.1
ansi2knr.c
ansi2knr.h
ar-lib
autom4te.cache
build-stamp-ngircd*
build+*
compile
config.cache
config.status
configure
configure.ac
configure.lineno
cov-int
cscope.out
debian
depcomp
install-sh
missing
ngircd.dest
doc/sample-ngircd.conf
doc/src/html
man/ngircd.8
man/ngircd.conf.5
src/*/Makefile.am
src/config.h
src/config.h.in
src/stamp-h1
src/ngircd/check-help
src/ngircd/check-version
src/ngircd/ngircd
src/portab/portabtest
src/testsuite/*-test
src/testsuite/logs
src/testsuite/ngircd-*.motd
src/testsuite/ssl/cert.pem
src/testsuite/ssl/dhparams.pem
src/testsuite/ssl/key.pem
src/testsuite/T-ngircd?
src/testsuite/tests
src/testsuite/tests-skipped.lst
