Makefile
Makefile.in
aclocal.m4
ansi2knr.1
ansi2knr.c
ansi2knr.h
ar-lib
autom4te.cache
build-stamp-ngircd*
config.log
config.status
configure
configure.ac
configure.lineno
cscope.out
debian
depcomp
install-sh
missing
ngircd.dest
.deps
*.a
*.o
