Makefile.am
T-ngircd1
T-ngircd1.exe
T-ngircd2
T-ngircd2.exe
channel-test
connect-test
invite-test
join-test
kick-test
message-test
misc-test
mode-test
opless-channel-test
server-link-test
who-test
whois-test
ngircd-test1.log
ngircd-test2.log
ngircd-test1.motd
ngircd-test2.motd
logs
tests
